<body class='body-registration-override'>
<div class='content'>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'accountedit-card login-card pure-form', :method => :put, :role => 'form'}) do |f| %>
      <h1>Edit Account</h1>
      <%= devise_error_messages! %>
      <%= f.label 'Update Email' %>
      <%= f.email_field :email, :placeholder => 'Email', :class => "login-card-input" %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <%= f.label 'Change Password' %>
      <fieldset class='pure-group'>
      <%= f.password_field :password, :autocomplete => 'off', :placeholder => 'New Password', :class => "login-card-input" %>
      <%= f.password_field :password_confirmation, :placeholder => 'New Password Confirmation', :class => "login-card-input" %>
      </fieldset>
      <%= f.label 'Current Password' %>
      <%= f.password_field :current_password, :placeholder => 'Current Password', :class => "login-card-input" %>
      <%= f.submit 'Update', :class => 'login login-submit pure-button' %>
    <% end %>

    <div class=' cancel-card login-card'>
    <h1>Cancel Account</h1>
    <% if Braintree::Customer.find(current_user.customer_id).credit_cards.length == 0 %>
      <%= button_to 'Cancel My Account', registration_path(resource_name), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'pure-button button-delete', :class => "login-card-input" %>
    <% else %>
      Please delete all your cards before you cancel your account. Thanks!
    <% end %>
    </div>
</div>
</body>