<div class='content'>
  <div class="auth-container card-panel" style="margin-top: 5%;">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'input-field', :method => :put, :role => 'form'}) do |f| %>
      <h4>Edit Account</h4>
      <%= devise_error_messages! %>
      <h6 style="padding-top: 10px;">Update Your Email</h6>
      <%= f.email_field :email, :placeholder => 'Email' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <br>
      <br>
      <h6>Change Your Password</h6>
      <%= f.password_field :password, :autocomplete => 'off', :placeholder => 'New Password' %>
      <%= f.password_field :password_confirmation, :placeholder => 'New Password Confirmation' %>
      <br>
      <br>
      <h6>Enter Your Password To Make Changes</h6>
      <%= f.password_field :current_password, :placeholder => 'Current Password' %>
      <button class="btn waves-effect waves-light" type="submit" name="commit">Submit</button>
    <% end %>
  </div>

  <div class="auth-container card-panel" style="margin-top: 0%;">
    <h4>Cancel Account</h4>
    <% if Braintree::Customer.find(current_user.customer_id).credit_cards.length == 0 %>
      <form method="post" action="/users">
        <input type="hidden" name="_method" value="delete">
        <button data-confirm="Are you sure?" type="submit" class="btn waves-effect waves-light delete-button red">Cancel My Account</button>
        <input type="hidden" name="authenticity_token" value="EmS1mRAWNpbZt4I2wEsX6/n55IFPxikV+3HD23y49TVzqy2zGLf07uNa6Xy9+0CXGyuks9FIoVaJ852YBOpc0A==">
      </form>
    <% else %>
      Please delete all your cards before you cancel your account. Thanks!
    <% end %>
  </div>
</div>