<body class='body-registration-override'>
  <div class='content'>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'signup-card login-card pure-form', :role => 'form'}) do |f| %>
      <h1>Sign up</h1><br>
      <%= devise_error_messages! %>
        <%= f.email_field :email, :placeholder => 'Email', :class => "pure-input-1-1 login-card-input", :required => true %>
        <%= f.password_field :password, :placeholder => 'Password', :class => "pure-input-1-1 login-card-input", :required => true %>
        <%= f.password_field :password_confirmation, :placeholder => 'Confirm Password', :class => "pure-input-1-1 login-card-input", :required => true %>
        <%= f.submit 'Sign up', :class => 'login login-submit pure-button pure-input-1-1 login-card-input' %>
    <% end %>
  </div>
</body>