<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">Churner.io testing</h1>
    <p class="splash-subhead">
      Welcome to Churner.io, a credit card manager
    </p>
    <p>
      <% if user_signed_in? %>
        <a href="<%= cards_path %>" class="waves-effect waves-light btn-large">My Cards</a>
      <% else %>
        <a href="<%= new_user_session_path %>" class="waves-effect waves-light btn-large">Sign In</a>
        &nbsp&nbsp&nbsp&nbsp
        <a href="<%= new_user_registration_path %>" class="waves-effect waves-light btn-large">Sign Up</a>
      <% end %>
    </p>
  </div>
</div>

<div class="content-wrapper">
<!--   <div class="content">
    <h2 class="content-head is-center">Churner helps you manage and keep track of all of your cards, miles, and points</h2>

    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

        <h3 class="content-subhead">
          <i class="fa fa-rocket"></i>
          Get Started Quickly
        </h3>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
          <i class="fa fa-mobile"></i>
          Responsive Layouts
        </h3>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
          <i class="fa fa-th-large"></i>
          Modular
        </h3>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
          <i class="fa fa-check-square-o"></i>
          Plays Nice
        </h3>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
    </div>
  </div> -->

  <div class="ribbon l-box-lrg pure-g">
    <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
      <img class="pure-img-responsive" alt="File Icons" width="300" src="https://s3-us-west-1.amazonaws.com/churner/images/credit_card.svg">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

      <h5 class="content-head heading-color">Churner.io is 100% secure</h5>

      <p>
        All card storage and payments processing is handled by <a href="https://www.braintreepayments.com/">Braintree Payments</a>,
        the same payments company used by Uber, GitHub, and StubHub. Your credit
        card data never touches our servers, and is always encrypted in transit
        to Braintree. If all of our data was stolen, there would be no way for
        the hackers to discover or otherwise use your credit card data.
      </p>
    </div>
  </div>

  <div class="content content-footer">
    <h5 class="content-head is-center heading-color">Sign up to join the email list and be the first to hear about new features!</h5>


    <div class="pure-g">
<!--  <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
        <div id="mc_embed_signup">
          <form action="//srlingren.us11.list-manage.com/subscribe/post?u=881f0409823ccd42ced0b487d&amp;id=ed05f38268" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" class="input-field content-head" novalidate>
            <div id="mc_embed_signup_scroll">
              <h6 class="content-head heading-color footer-head">Join The List</h6>
              <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your Email">
              </div>
              <div class="mc-field-group">
                <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="Your Name">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_881f0409823ccd42ced0b487d_ed05f38268" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn waves-effect waves-light"></div>
            </div>
          </form>
        </div>
      </div> -->

      <div class="l-box-lrg pure-u-1 pure-u-md-5-5 footer-text">
        <h6 class="content-head heading-color footer-head">Contact Us</h6>
        <p>
          If you have any questions or comments please send an email to <%= mail_to "contact@churner.io" %>
          and we will do our best to respond promptly.
        </p>

        <h6 class="content-head heading-color footer-head">More Information</h6>
        <p>
          This site is brand new and lacks many features. We have many ideas for the future,
          but these new updates can only be supported through current participation and interest.
          If you have any ideas for new features please email us at <%= mail_to "features@churner.io" %> Thank You!
        </p>
      </div>
    </div>
  </div>
</div>
