<div class="header">
  <h1>Password Reset</h1>
  <h2>Enter your new password.</h2>
</div>

<div class="content">
  <p>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:class => "pure-form pure-form-stacked", :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <div class="pure-control-group">
        <%= f.label :password, 'New password' %>
          <%= f.password_field :password, autofocus: true, autocomplete: 'off'%>
        <%= f.label :password_confirmation, 'Confirm new password' %>
          <%= f.password_field :password_confirmation, autocomplete: 'off'%>
      </div>
      <p>
        <%= f.submit 'Change My Password', :class => 'pure-button pure-button-primary' %>
      </p>
    <% end %>
  </p>
</div>
