<body class='body-registration-override'>
  <div class='content'>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'login-card pure-form', :role => 'form'}) do |f| %>
      <h1>Sign In</h1><br>
      <%= devise_error_messages! %>
      <%= f.email_field :email, :autofocus => true, :placeholder => 'Email', :class => "pure-input-1-1 login-card-input", :required => true %>
       <%= f.password_field :password, :placeholder => 'Password', :class => "pure-input-1-1 login-card-input", :required => true %>
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <label for="user_remember_me" class="pure-checkbox">
          <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="">
          Stay Signed In?
        </label>
      <% end %>
      <%= f.submit 'Sign in', :class => 'login login-submit pure-button' %>
      <div class='login-help'>
        <%- if devise_mapping.recoverable? %>
          <%= link_to 'Forgot password?', new_password_path(resource_name) %>
        <% end -%>
        <!-- Seperation character here to use later if two links to show • -->
      </div>
    <% end %>
  </div>
</body>