<% content_for :scripts do %>
  <%= render 'edit_javascript' %>
  <%= render 'card_dropdown_jquery' %>
<% end %>

<div class='container'>
  <div class='form-container card-panel edit-card-form'>
    <%= form_tag({:controller => 'cards', :action => 'update'}, {:onsubmit => "return btInit()", :method => "patch", :id => 'card-details-form'}) do %>
      <h4>Edit Your Card Data</h4>
      <div class="input-field">
      <%= text_field_tag :name, nil, name: 'name', placeholder: @card.name, :id => 'cards' %>
      <%= label_tag :name, 'Card Name' %>
      </div>
      <div class="input-field">
      <%= date_field :issue_date, nil, name: 'issue_date', :placeholder => @card.issue_date.strftime("%b %e, %Y"), :class => "datepicker", :id => "datepicker" %>
      <%= label_tag :issue_date, 'Card Issue Date' %>
      </div>
      <div class="input-field">
      <%= text_field_tag :annual_fee, nil, name: 'annual_fee', placeholder: @card.annual_fee.to_s %>
      <%= label_tag :annual_fee, 'Annual Fee' %>
      </div>
      <div class="input-field">
      <%= text_field_tag :credit_limit, nil, name: 'credit_limit', placeholder: @card.credit_limit.to_s %>
      <%= label_tag :credit_limit, 'Credit Limit' %>
      </div>
      <div class="input-field">
      <%= text_area_tag :note, nil, name: 'note', :class => 'materialize-textarea', placeholder: @card.note, :length => 250 %>
      <%= label_tag :note, 'Card Notes' %>
      </div>
      <button id="submit_button" class="btn waves-effect waves-light" type="submit" name="commit">Update Card Data</button>
    <% end %>
  
  </div>

  <div class='form-container card-panel edit-card-form'>
    <%= form_tag({:controller => 'cards', :action => 'update'}, {:onsubmit => "return btInit()", :method => "patch", :id => 'edit-card-form'}) do %>
      <h4>Edit Your Payment Details</h4>
      <div class="input-field">
        <%= text_field_tag :cardholder_name, nil, name: nil, :required => true, data: { 'braintree-name' => 'cardholder_name'} %>
        <%= label_tag :cardholder_name, 'Cardholder Name' %>
      </div>
      <div class="input-field">
        <%= text_field_tag :card_number, nil, name: nil, :required => true, data: { 'braintree-name' => 'number'} %>
        <%= label_tag :card_number, 'Card Number' %>
      </div>
      <div class="input-field">
        <%= text_field_tag :card_code, nil, name: nil, :required => true, data: { 'braintree-name' => 'cvv' } %>
        <%= label_tag :card_code, 'Security Code' %>
      </div>
      <h6 style="margin-bottom: 0px;">Expiration Date</h6>
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-11-24 input-field">
          <%= select_month @bt_card.expiration_month.to_i, { use_two_digit_numbers: true}, { name: nil, data: {'braintree-name' => 'expiration_month'} } %>
        </div>
        <div class="pure-u-md-1-12"></div>
        <div class="pure-u-1 pure-u-md-11-24 input-field">
          <%= select_year @bt_card.expiration_year.to_i, {start_year: Date.today.year, end_year: Date.today.year+10}, { name: nil, data: {'braintree-name' => 'expiration_year'} } %>
        </div>
      </div>
      <%= hidden_field_tag 'card_token', @bt_card.token %>
      <button id="submit_button" class="btn waves-effect waves-light" type="submit" name="commit">Update Payment Details</button>
    <% end %>
  </div>
</div>
