<div class='container'>
  <div class='card card-ccholder hoverable'>
    <div class='card-image'>
      <div class='jp-card-container'>
        <div class='jp-card jp-card-<%= @bt_card.card_type.downcase.delete(' ') %> jp-card-identified'>
          <div class='jp-card-front'>
            <div class="jp-card-label jp-card-display">
              <%= @card.name %>
            </div>
            <div class='jp-card-logo jp-card-<%= @bt_card.card_type.downcase.delete(' ') %>'>
            <%= @bt_card.card_type.downcase.delete(' ') == 'americanexpress' ? '' : @bt_card.card_type.downcase.delete(' ') %>
            </div>
            <div class='jp-card-lower'>
              <div class='jp-card-shiny'></div>
              <div class='jp-card-number jp-card-display'>XXXX XXXX XXXX <%= @bt_card.last_4 %></div>
              <div class='jp-card-name jp-card-display'><%= @bt_card.cardholder_name %></div>
              <div class='jp-card-expiry jp-card-display' data-after='valid&#13;&#10;thru'><%= @bt_card.expiration_month %>/<%= @bt_card.expiration_year %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='card-content'>
      <table>
        <tbody>
          <tr>
            <th>Card Issue Date:</th>
            <td><%= @card.issue_date? ? @card.issue_date.strftime("%b %e, %Y") : "" %></td>
          </tr>
          <tr>
            <th>Annual Fee:</th>
            <td><%= number_to_currency(@card.annual_fee) %></td>
          </tr>
          <tr>
            <th>Credit Limit:</th>
            <td><%= number_to_currency(@card.credit_limit) %></td>
          </tr>
        </tbody>
      </table>
      <div class="notes">
      <h6>Notes:</h6>
      <p><%= @card.note %></p>
      </div>
    </div>
    <div class='card-action'>
    <%= link_to 'Edit Card', edit_card_path(:id => @card.id) %>
    <%= link_to 'Delete Card', card_path(:id => @card.id), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'delete-card-link' %>
    </div>
  </div>
</div>