<div class='container'>
  <div class='card card-ccholder hoverable'>
    <div class='card-image'>
      <div class='jp-card-container'>
        <div class='jp-card jp-card-<%= @bt_card.card_type.downcase.delete(' ') %> jp-card-identified'>
          <div class='jp-card-front'>
            <div class="jp-card-label jp-card-display">
              <%= @card.name %>
            </div>
            <div class='jp-card-logo jp-card-<%= @bt_card.card_type.downcase.delete(' ') %>'>
            <%= @bt_card.card_type.downcase.delete(' ') == 'americanexpress' ? '' : @bt_card.card_type.downcase.delete(' ') %>
            </div>
            <div class='jp-card-lower'>
              <div class='jp-card-shiny'></div>
              <div class='jp-card-number jp-card-display'>XXXX XXXX XXXX <%= @bt_card.last_4 %></div>
              <div class='jp-card-name jp-card-display'><%= @bt_card.cardholder_name %></div>
              <div class='jp-card-expiry jp-card-display' data-after='valid&#13;&#10;thru'><%= @bt_card.expiration_month %>/<%= @bt_card.expiration_year %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='card-content'>
      <table>
        <tbody>
          <tr>
            <th>Card Issue Date:</th>
            <td><%= @card.issue_date? ? @card.issue_date.strftime("%b %e, %Y") : "" %></td>
          </tr>
          <tr>
            <th>Annual Fee:</th>
            <td><%= number_to_currency(@card.annual_fee) %></td>
          </tr>
          <tr>
            <th>Credit Limit:</th>
            <td><%= number_to_currency(@card.credit_limit) %></td>
          </tr>
        </tbody>
      </table>
      <div class="notes">
        <h6>Notes:</h6>
        <p><%= @card.note %></p>
      </div>
      <div class="subscription-field">
        <h6>Subscription</h6>
        <% if @can_unsub %>
          <%= form_tag({:controller => 'subscriptions', :action => 'unsubscribe'}, {:id => 'subscribe-card-form'}) do %>
            <%= hidden_field_tag 'card_token', @bt_card.token %>
            <%= hidden_field_tag 'customer_id', @bt_card.customer_id %>
            <%= hidden_field_tag 'card_id', @card.id %>
            <%= hidden_field_tag 'subscription_id', @bt_card.subscriptions.last.id %>
            <button class="btn waves-effect waves-light" type="submit">Unsubscribe</button>
          <% end %>
        <% elsif !@active_sub %>
          <%= form_tag({:controller => 'subscriptions', :action => 'subscribe'}, {:id => 'subscribe-card-form'}) do %>
            <%= hidden_field_tag 'card_token', @bt_card.token %>
            <%= hidden_field_tag 'customer_id', @bt_card.customer_id %>
            <%= hidden_field_tag 'card_id', @card.id %>
            <button class="btn waves-effect waves-light" type="submit">Subscribe</button>
          <% end %>
        <% else %>
          <p>You can have a maximum of two unsubscribed cards. If you want to
             unsubscribe this card you must first subscribe with one of 
             your other two currently ubsubscribed cards.</p>
        <% end %>
      </div>
    </div>
    <div class='card-action'>
    <%= link_to 'Edit Card', edit_card_path(:id => @card.id) %>
    <%= link_to 'Delete Card', card_path(:id => @card.id), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'delete-card-link' %>
    </div>
  </div>
</div>