<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title><%= content_for?(:title) ? yield(:title) : 'Churner.io' %></title>
    <meta name='description' content='<%= content_for?(:description) ? yield(:description) : 'Credit Card Manager' %>'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.6.0/base-min.css&pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-min.css">
    <link rel='stylesheet' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

    <!-- Google Analytics -->
    <%= analytics_init if Rails.env.production? %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <div id='main'>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  <%= javascript_include_tag 'application' %>
  </body>
</html>
