<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : "Churner.io" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Credit Card Manager" %>">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <% if request.env['PATH_INFO'] == "/" %>
      <%= render 'layouts/top_navigation' %>
      <%= render 'layouts/messages' %>
      <%= yield %>
    <% else %>
      <div id="layout">
        <%= render 'layouts/side_navigation' %>
        <div id="main">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
    <% end %>
  <%= javascript_include_tag 'application' %>
  </body>
</html>
